@charset "utf-8";

body{
    font-size: 28px;
    
    font-family: "ポップ体";
    background-color: #dfffff;
}

h1{
    color: red;
}

h2{
    color: firebrick;
    background-color: white;
    display: inline;
    margin: 0 16px 0 0;
    padding: 4px;
        border:5px solid gold;
        border-radius: 10px;
}

ul{
    padding-left: 50px;
}

#requests{
    width: 400px;
    border: 2px solid;
    background-color: lightblue;
}
